<template>
  <div class="profile_header">
    <div id="author_info" class="row">
      <div class="col-sm-10">
      <h2><span id="name" v-html="profileEmoji(account.display_name)"></span>
        <span id="fediverse_handle">{{account.acct}} </span>
        <div class="sharing-status" v-if="isLoggedIn">
          <div class="relations" v-for="relation in relations">
          <div v-if="relation.followed_by === true">
            <i class="icon-check" v-b-tooltip.hover :title="`${account.display_name} is sharing with you`"></i>
          </div>
          <div v-else>
            <i class="icon-info-circled" v-b-tooltip.hover :title="`${account.display_name} is not sharing with you`"></i>
          </div>
        </div>
      </div>
      </h2>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfileHeader',
  props: ['account', 'relations'],
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isAuthenticated
    }
  }
}
</script>

<style>

.sharing-status {
  vertical-align: middle;
  display: inline-block;
  font-size: 25px;
}

span#fediverse_handle, span#name {
  vertical-align: middle;
}

.sharing-status i.icon-check {
  color: #64ac43;
}

.sharing-status i.icon-info-circled {
  color: #aaa;
}
</style>
