/* Basic Defaults */
html {
  background: #f0f0f0;
}

body {
  background: inherit;
}

#app {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  text-align: center;
  margin-top: 40px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}

/* Navbar */

.navbar-brand {
  font-weight: 800;
  font-size: 23px;
  margin-left: -15px;
}

.navbar a {
  color: #9d9d9d !important;
}

.navbar a:hover {
  color: #fff !important;
}

.navbar a.selected {
  color: #fff !important;
}

.navbar .form-group {
 margin-bottom: 0;
}

/* Stream Selector Widget */

ul#stream-selection {
  background: #fff;
  text-align: left;
}

ul#stream-selection li {
  display: block;
  margin: 0;
}

ul#stream-selection li a{
  padding: 10px;
  width: 100%;
  display: block;
  color: #555555;
  font-weight: 600;
  font-size: 13px;
}

ul#stream-selection a.selected {
  background: #555555;
  color: #fff;
  text-decoration: none;
}

ul#stream-selection li.selected a {
  color: #fff;
}

ul#stream-selection li a:hover {
  color: #fff;
  background-color: #0088e6;
  text-decoration: none;
}


/* Status styling */
.status {
  border: 1px solid #cecece;
  border-radius: 5px;
  margin-bottom: 2em;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  background: #fff;
}

.status .avatar {
  width: 60px;
  height: 60px;
  background: #ddd;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  margin-right: 10px;
}

.status .timestamp {
  display: inline-block;
  color: #a8a6a6;
}

.status a.author-name {
  color: #3f8fba;
  font-weight: 600;
}

.status .byline {
  display: block;
}

.status .status-body {
  display: inline-block;
  width: 90%;
  max-width: 90%;
  vertical-align: top;
}

.status .status-footer {
  font-size: 12px;
}

.status .visibility {
  color: #acacac;
  display: inline-block;
}

.status .action-links {
  display: inline-block;
}

.status .action-links a {
  color: #3f8fba;
}

#single-post-content blockquote, .status blockquote {
  border-left: 2px solid #6f6f6fde;
  color: #717070;
  padding-left: 5px;
  font-size: 13px;
}

ol {
  list-style-type: upper-roman;
  text-align: left;
  padding: 0;
  margin: 0;
}

ol li {
  padding: 0;
  margin: 0;
  display: block;
}

#single-post-content .activity-content a ,.status .content_reveal a {
  color: #3f8fba;
}


/* User Menu */

li.user-menu a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}


input#search.form-control {
  background: #343a40;
  width: 70%;
  margin-left: auto;
}

input#search.form-control:focus {
  background: #fff;
  width: 100%;
}

/* Profile */
#profile {
  background: #fff;
  text-align: left;
  padding: 20px;
}

#profile_photo img{
  max-width: 100%;
  width: 100%;
}

#profile_info {
  margin-top: 10px;
  font-size: 14px;
  max-width: 100%;
}

#profile_info li {
  margin: 0;
  padding: 0;
  width: 100%;
}

.profile_header {
  background: #fff;
  margin-bottom: 1em;
}

.profile_header span#name {
  font-size: 25px;
  font-weight: 800;
}

.profile_header span#fediverse_handle {
  font-size: 20px;
  color: #888;
}

.profile_header h2 {
  text-align: left;
  margin-left: 10px;
}

/* Emojo Handling */
.activity-content img.emojo, .comment-content img.emojo {
  height: 30px;
}

.byline img.emojo, .status img.emojo, .account-name img.emojo, .author-name img.emojo {
  height: 22px;
  vertical-align: middle;
}

#name img.emojo {
  height: 40px;
}
