<template>
<div class="col-md-3">
  <ul class="sidebar left-sidebar" id="stream-selection">
    <li class="nested-list" v-if="isLoggedIn" data-stream="stream">
      <router-link to="stream" tag="a" class="hoverable"><i class="icon-air"></i><span class="tab_desc">Stream</span></router-link>
    </li>

    <li class="nested-list my-activity" v-if="isLoggedIn" data-stream="activity">
      <router-link to="/activity" tag="a" class="hoverable"><i class="icon-user"></i><span class="tab_desc">My Activity</span></router-link>
    </li>

    <li class="nested-list mentions" v-if="isLoggedIn" data-stream="mentions">
      <router-link to="/mentions" tag="a" class="hoverable"><span class="fake_icon">@</span><span class="tab_desc">Mentions</span></router-link>
    </li>

    <li class="nested-list all-aspects"  v-if="isLoggedIn" data-stream="aspects">
      <router-link to="/aspects" tag="a" class="hoverable"><i class="icon-list"></i><span class="tab_desc">My Aspects</span></router-link>
    </li>

    <li class="nested-list" v-if="isLoggedIn" data-stream="followed-tags">
      <router-link to="/followed-tags" tag="a" class="hoverable"><i class="icon-tag"></i><span class="tab_desc">Followed Tags</span></router-link>
    </li>

    <li class="nested-list" data-stream="local">
      <router-link to="/local" tag="a" class="hoverable"><i class="icon-home"></i><span class="tab_desc">Local Activity</span></router-link>
    </li>

    <li class="nested-list" data-stream="public">
      <router-link to="/public" tag="a" class="hoverable"><i class="icon-globe"></i><span class="tab_desc">Public Activity</span></router-link>
    </li>

  </ul>
</div>
</template>

<script>
import listsAPI from '@/services/api/lists'
export default {
  name: 'Sidebar',
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isAuthenticated
    }
  }
}
</script>

<style>
span.tab_desc {
  margin-left: 2px;
}

span.fake_icon {
  margin-right: 2px;
  font-weight: 800;
}
</style>
